.THIS {
}

.THIS #tableView td{
    text-align: center;
    height: 27px;
}
.THIS #tableView thead th{
    text-align: center;
    background-color: rgba(27, 82, 151, 1.0);
    color: white;
}

.THIS #tableEdit thead th{
    text-align: center;
    background-color: rgba(27, 82, 151, 1.0);
    color: white;
}
.THIS .DateMAJHoraires {
    padding-left: 10px;
    padding-top: 6px;
}

.THIS .Commentaire-Label {
    font-weight:bold;
}
.THIS .commentaireDiv{
    padding-top: 25px;
    padding-bottom: 50px;
}