.THIS .verticalAlign {
	cursor: pointer;
	margin: 6px 0px 0px 6px!important;
}
.THIS .Inputpicklist{
    width: auto;
}
.THIS .fullWidth {
	width: 100% !important;
}

.THIS .recordListBox {
	margin-top:0px !important;
	overflow-y: scroll;
}

.THIS .inputBox input {
	padding-left: 30px;
}

.THIS .inputIcon {
	z-index: 99;
}

/* For Scrolling */
.THIS ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
.THIS ::-webkit-scrollbar-track {
   display: none !important;
}
.THIS ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0,0,0,0.4);
}
.THIS .verticalAlign {
	cursor: pointer;
	margin: 6px 0px 0px 6px!important;
}
 
.THIS .fullWidth {
	width: 100% !important;
}
 
.THIS .recordListBox {
	margin-top:0px !important;
	overflow-y: scroll;
}
 
.THIS .inputBox input {
	padding-left: 30px;
}
 
.THIS .inputIcon {
	z-index: 99;
}
 
/* For Scrolling */
.THIS ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
.THIS ::-webkit-scrollbar-track {
   display: none !important;
}
.THIS ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0,0,0,0.4);
}