.THIS .customDarkBlueColor{
        background-color: #0070d2;
        color: #fff; 
    }
    
.THIS td {
	font-family: georgia;
	font-style: italic;
}

.THIS th {
	font-family: georgia;
}

.THIS #marquee { 
  color:red; 
  background:#f0f0f0;
  width:100%;
  height:20px;
  line-height:120px;
  overflow:hidden;
  position:relative;
}

.THIS #text {
  position:absolute;
  top:20;
  left:0;
  width:100%;
  height:20px;
  font-size:15px;
  font-family: georgia;
  font-style: italic;
  animation-name: slide;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-name: slide;
  -webkit-animation-duration: 10s;
  -webkit-animation-timing-function:linear;
  -webkit-animation-iteration-count: infinite;
}