<apex:page >
    <iframe width="1500" height="600" src='https://mypdv--galigeo.eu10.visual.force.com/apex/map?id=a0s0O000005gP7rQAE'></iframe>
    <iframe width="1500" height="600" src='https://google.com'></iframe>
</apex:page>