.THIS .TableCell{
    height: 73px;
    padding: 0px 0px !important;
    text-align: center;
    vertical-align: top;
    font-weight: bold;
}
.THIS #CalendrierTable thead th{
    text-align: center;
    width:14%;
    padding: 4px 8px;
}
.THIS .monthHeader{
    font-weight: bold;
    padding-left: 14px;
    font-size: large;
    text-transform: uppercase;
}
.THIS .TableCell .divNumber{
    padding: 2px 0px;
}
.THIS .TableCell .HorsMonth{
    color: #a09c9c;
}
.THIS #myLegende {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove;
    
}

.THIS .myTitreLegende {
    display: block;
    padding-left: 2px;
    padding-right: 2px;
    border: none;
}
.THIS .input-color {
    position: relative;
}
.THIS .input-color .TexteLegende {
    padding-left: 20px;
}
.THIS .input-color .color-box {
    width: 10px;
    height: 10px;
    display: inline-block;
    position: absolute;
    left: 5px;
    top: 5px;
    border: 1px solid rgb(154, 154, 154);
}
.THIS .todayButton {
    margin-left: 12px;
}
.THIS #CalendrierTable th,.THIS #CalendrierTable td{
    border: 1px solid rgb(0, 0, 0);
}